.grid-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.placeholder {
  box-sizing: border-box;
  overflow-y: auto;
  position: relative;
  background-color: #302633;
  padding: 50px;
  border-radius: 10px;
  filter: blur(2px);
  bottom: 0px;
  transition: bottom, 0.4s;
  max-height: 800px;
}

.placeholder h2 {
  color: #fff;
  font-family: "Dm sans", sans-serif;
}

.placeholder:hover {
  filter: blur(0);
  bottom: 8px;
}

.skills h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.skills img {
  max-width: 200px;
  max-height: 200px;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.lab {
  text-align: center;
}

.lab ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.box {
  margin-top: 40px;
  background-color: #1d1817;
  border: 6px double #fff;
  border-radius: 8px;
  padding: 20px 15px;
  max-width: 270px;
  max-height: 200px;
}

.box h3 {
  font-family: "Dm mono", sans-serif, Arial;
  margin-bottom: 8px;
  color: #e8f3ff;
}

.box p {
  font-family: "Ubuntu";
  color: #caddf2;
}

.box ul {
  margin: 20px 0;
  display: flex;
  flex-wrap: nowrap;
}

.box li {
  border: 2px solid #41dd87;
  background-color: #37664c;
  padding: 5px;
  transition: 0.6s;
}

.box li:hover {
  background-color: #51946f;
}

.box a {
  margin-top: 50px;
  color: #e8f3ff;
  background-color: #3c2244;
  border-radius: 5px;
  padding: 5px 20px;
  font-family: "Dm sans", sans-serif;
}

.box a:focus {
  display: none;
}

@media (max-width: 1024px) {
  .placeholder {
    max-height: 800px;
  }
}

@media (max-width: 768px) {
  body {
    overflow: auto;
  }
  .grid-bottom {
    flex-direction: column;
    gap: 20px;
  }
  .placeholder h2 {
    font-size: 1rem;
  }
  .box {
    width: auto;
    max-height: 100%;
  }
  .box ul {
    flex-wrap: wrap;
  }
  .placeholder img {
    max-width: 100px;
  }
}
