.main-class {
  position: relative;
  display: flex;
  font-family: "Dm sans", sans-serif;
  background-color: #352732;
  color: #caddf2;
  box-shadow: -60px 60px 0 #2e1111;
  padding: 80px;
  gap: 100px;
  border-radius: 15px;
  font-size: 20px;
  z-index: 0;
}

.main-class::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  transition: 0.5s;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 20px solid #bb3827;
  border-radius: 15px;
  z-index: -1;
}

.main-class.detail::before {
  opacity: 1;
}

.developer {
  width: 350px;
  height: 60px;
  position: relative;
  overflow: hidden;
}

.slider,
.slider::after {
  background: #c2adbe;
  width: 50px;
  height: 4px;
}

.slider {
  margin-top: 10px;
  position: absolute;
  left: 0;
  animation: anima 3s linear infinite;
}

.slider::after {
  content: "";
  position: absolute;
  right: 380px;
}

@keyframes anima {
  from {
    left: 0;
  }
  to {
    left: 380px;
  }
}

.developer h3 span {
  color: #1caa68;
}

.name {
  position: relative;
  width: 210px;
}

.name h1 {
  white-space: nowrap;
  overflow: hidden;
}

.name::after {
  margin-top: 10px;
  content: "";
  display: block;
  width: 0%;
  height: 8px;
  background-color: #af3036;
}

.name.detail::after {
  animation: slide 1s backwards;
}

@keyframes slide {
  from {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.main-class p {
  margin-top: 15px;
  margin-bottom: 60px;
  line-height: 1.9rem;
}

.about a {
  font-size: 24px;
  font-weight: 500;
  transition: 0.5s;
  border-radius: 4px;
  padding: 15px 40px;
  font-family: "Dm mono", sans-serif;
  background-color: #16eb87;
  color: #0c0b0b;
}

.about a:hover {
  background-color: #89e9bc;
}

.main-class img {
  width: 250px;
  justify-self: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.rede-sociais {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.rede-sociais img {
  width: 50px;
  height: 50px;
  margin: 00%o;
}

@media (max-width: 1024px) {
  .main {
    flex-direction: column;
    gap: 20px;
  }
  .main-class {
    padding: 50px;
    margin-top: 120px;
    box-shadow: none;
  }
}

@media (max-width: 768px) {
  .main {
    gap: 16px;
  }
  .main-class {
    margin-top: 60px;
    flex-direction: column;
    gap: 40px;
    padding: 40px 10px;
  }
  .main-class::before {
    border: 5px solid #bb3827;
  }
  .main-class img {
    display: none;
  }
  .developer {
    width: 300px;
    height: 40px;
    font-size: 1rem;
  }
  .about a {
    font-size: 1.4rem;
    padding: 1rem;
  }
}

@media (max-width: 320px) {
  .about a {
    padding: 10px;
  }
}
